<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3><%= 4 * 5 %></h3>
    <h3><%= "anshmani".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque, eius veritatis sint provident repellendus rerum. 
        Repudiandae obcaecati distinctio, quos consectetur quaerat eius! Totam dolore quae eligendi provident esse cupiditate sapiente 
        veniam qui deleniti omnis fugit assumenda tempora exercitationem eum sit, odit repellendus iste magni minima illum alias, enim neque. Perferendis natus voluptatem, voluptatum ipsa cupiditate ea quos pariatur! Quas maiores fuga atque temporibus similique? Quia perferendis fugit dignissimos atque eum, quis neque exercitationem? Unde aut nam nulla minus reiciendis nisi id illo vel exercitationem eveniet dolorum veniam vero ipsa iste numquam, itaque aliquid quo qui ex facilis expedita eos!</p>

        <button>click me</button>

        <%- include("includes/footer.ejs"); %>
</body>
</html>